:root {
    --light-text-color: #2f1d1a;
    --light-background-accent: #56352d;
    --light-background-accent-light: #816047;
    --light-background-color: #b59062;
    /*light- --accent-color-light: #d9c67f; */
    --light-background-color: #d9c67f;
    --light-accent-color: #1e723a;
    --light-accent-color-darker: #12503f;
    --light-accent-color-dark: #0f3746;

    --text-color: #d9c67f;
    --background-accent: #56352d;
    --background-accent-light: #816047;
    --background-color: #1f1310;
    --accent-color: #1e723a;
    --accent-color-darker: #12503f;
    --accent-color-dark: #0f3746;

    --anim-font-size: 8px;
    --anim-font-size2: 12px;
    --side-bar-width: 18%;
}


* {
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 22px;
}

body, html {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

button {
    border: 1px solid var(--background-accent-light);
    outline: 2px solid var(--text-color);
    padding: 5px;
    margin: 6px;
}

button:active {
    border-color: var(--accent-color);
    outline-color: var(--accent-color-darker);
}

label {
    margin-left: 7px;
}

input {
    accent-color: var(--accent-color);
}


@keyframes pulse {
    0% {font-size:var(--anim-font-size2);}
    25% {font-size:var(--anim-font-size);}
    50% {font-size:var(--anim-font-size2);}
    75% {font-size:var(--anim-font-size);}
    100% {font-size:var(--anim-font-size2);}
  }

  @keyframes appear {
    0% {opacity: 0;}
    90%{opacity: 0;}
    99%{opacity: 1;}
    100% {opacity: 1;}
  }

div.fun {
    border-bottom: 1px solid var(--background-accent);
}

.fun p{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    background-color: var(--accent-color-darker);
    font-size: 12px;
    animation-name: pulse;
    animation-duration: 4s;
}

div.story {
    margin-bottom: 30px;
}

p.appear {
    animation-name: appear;
    /* animation-delay: 5s; */
    animation-duration: 5s;
}

#canvas {
    width: fit-content;
    margin: auto;
    float: none;   
}

.left {
    float: left;
    width: calc(100% - 18%*2);
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.deco {
    background: rgb(129,96,71);
background: linear-gradient(180deg, rgba(129,96,71,1) 0%, rgba(31,19,16,1) 100%);
    min-height: 100vh;
    height: 100%;
    width: 18%;
}

.img.arrow img{
    width: 8%;
    height: auto;
}

.doKnow {
    display: none;
}

header {
    padding-top: 10px;
}

#fishImg {
    display: none;
    visibility: hidden;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#fishImg * {
    width: 100%;
}


.flex {
    display: flex;
    align-items: start;
}

.flex div.deco {
    width: 18%;
    height: 100%;
}

.flex div.mainCol {
    width: calc(100% - var(--side-bar-width) - var(--side-bar-width));
}