:root {
    --light-text-color: #2f1d1a;
    --light-background-accent: #56352d;
    --light-background-accent-light: #816047;
    --light-background-color: #b59062;
    /*light- --accent-color-light: #d9c67f; */
    --light-background-color: #d9c67f;
    --light-accent-color: #1e723a;
    --light-accent-color-darker: #12503f;
    --light-accent-color-dark: #0f3746;

    --text-color: #d9c67f;
    --background-accent: #56352d;
    --background-accent-light: #816047;
    --background-color: #1f1310;
    --accent-color: #1e723a;
    --accent-color-darker: #12503f;
    --accent-color-dark: #0f3746;

    --anim-font-size: 8px;
    --anim-font-size2: 12px;

}


* {
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 22px;
}
body, html {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

@keyframes pulse {
    0% {font-size:var(--anim-font-size2);}
    25% {font-size:var(--anim-font-size);}
    50% {font-size:var(--anim-font-size2);}
    75% {font-size:var(--anim-font-size);}
    100% {font-size:var(--anim-font-size2);}
  }

  @keyframes appear {
    0% {opacity: 0;}
    90%{opacity: 0;}
    99%{opacity: 1;}
    100% {opacity: 1;}
  }

div.fun {
    border-bottom: 1px solid var(--background-accent);
}

.fun p{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    background-color: var(--accent-color-darker);
    font-size: 12px;
    animation-name: pulse;
    animation-duration: 4s;
}

div.story {
    margin-bottom: 20px
}

p.appear {
    animation-name: appear;
    /* animation-delay: 5s; */
    animation-duration: 5s;
}

#canvas {
    width: fit-content;
    margin: auto;
    float: none;   
}

.left {
    float: left;
    width: calc(100% - 18%*2);
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.deco {
    background-color: var(--background-accent-light);
    /* background-color: yellow; */
    /* height: 100vh; */
    min-height: 100vh;
    height: 100%;
    width: 18%;
    overflow-y: auto;
}

.img.arrow img{
    width: 8%;
    height: auto;
}

.doKnow {
    display: none;
}

header {
    padding-top: 10px;
}

#fishImg {
    display: none;
    visibility: hidden;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#fishImg * {
    width: 100%;
}
